<h1>About challenges</h1>

<h3>Nr 1</h3>
<p>Remove ng-app from index.html and bootstrap app from code</p>

<h3>Nr 2</h3>
<p>Add routes for products (note: use abstract route and 2 sub-routes "list" and "add")</p>

<h3>Nr 3</h3>
<p>
  Fill products service (note: use "npm run tdd" to prove yours TDD skill doing that task).
  Use this service inside products-page.controller and print response inside console.log
</p>

<h3>Nr 4</h3>
<p>Fill component that handles list of recieved products from previous request</p>

<h3>Nr 5</h3>
<p>Connect basket service to products list, add product to basket via "buy" button (ng-click)</p>